@import "./vendors/reset.scss";

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  padding: 20px;
  background-color: #fceb00;
  .card {
    padding: 5px 20px;
    background-color: #9acd31;
  }
}
